#square {
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    transition: 0.5s ease;
}

button {
    margin-top: 150px;
}

.moved {
    transform: translateX(500px);
}